{%extends "frontendworkflow/base.html" %}
{%load crispy_forms_tags%}
{% block content %}

	  <!-- Highcharts display -->
	  <div class="border" id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

	  <!-- Table data -->
	  <h2 class="pt-4">Section Details</h2>
	  <p class="text-danger">This table will be upated by Django uploaded Excel file</p>
	  <div class="table-responsive">
	    {{table_data|safe}}
	  </div>
	</main>
      </div>
    </div>
	
    <!-- Chartjs libraries -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <script>
        _categories = {{categories|safe}};
        _values = {{values|safe}};
        
        Highcharts.chart('container', {
        chart: {
                type: 'column'
        },
        title: {
                text: 'Customer Monthly Expenditure'
        },
        subtitle: {
                text: ''
        },
        xAxis: {
                categories:_categories,
                crosshair: true
        },
        yAxis: {
                min: 0,
                title: {
            text: 'Expenses of Income Received'
                }
        },
        tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} ZAR</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
        },
        plotOptions: {
                column: {
            pointPadding: 0.2,
            borderWidth: 0
          }
        },
        series: [{
                name: 'Expenditure of the Income Shown in the table ',
                data: _values
            
        }]
        });
        </script>
    
{% endblock content %}
    
  